.pageFrieze {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }


.frieze {
  height: 100px;
  width: 80%;
  border: solid black 1px;
  display: flex;
  } 